<div class="entry-form">

{{#if this}}
  <input type="text" name="author" value="{{author}}">
  <input type="text" name="title" value="{{title}}">
  <input type="text" name="content" value="{{content}}">
  <input type="text" name="avatar" value="{{avatar}}">
  <span class='edit-blog'>Update</span>
{{else}}
  <input type="text" name="author" placeholder="author">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="content" placeholder="content">
  <input type="text" name="avatar" placeholder="avatar">
  <button class='new-post'>Post</button>
{{/if}}
  <span class='cancel'>X</span>
</div>
